<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CANDIDATE LOGIN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="logincss.css" />
    <style>
        body{
  color:black;
  
}
#style1{
max-width: 400px;
margin: 50px auto;
background:white;
border-radius: 5px;
box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
} 

input{
 margin:20px;
 border-radius:4px;
 height:40px;
}
form input[type="submit"]
{
 background-color: black;
 color:white;
 border-radius:4px;
}
form input[type="submit"]:hover{
  background-color: #d44179;
}

.col-sm-12{
  display: inline;
  text-align: center;
}
    </style>



</head>
<body>

    <div class="container">
        <h1 align="center">WELCOME TO GOVERMENT PORTAL FOR VOTING</h1>
    </div>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">HOME PAGE <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="login">LOGIN TO VOTE</a>
              <a class="nav-item nav-link" href="signup">VOTERS CREATE ACCOUNT</a>
              <a class="nav-item nav-link active" href="candidatelogin"><span class="sr-only">(current)</span>CANDIDATE LOGIN</a>
              <a class="nav-item nav-link" href="candidatecreate">CANDIDATE CREATE ACCOUNT</a>
              <a class="nav-item nav-link" href="#">ADMIN</a>
              <a class="nav-item nav-link" href="#help">NEED HELP?</a>
            </div>
          </div>
        </nav>
     </div>

   <div class="jumbotron">
       <h1><center>CANDIDATE LOGIN</center></h1>
   </div>   
    <div class="container" id="style1">
    <div class="middle">
          <div id="login">
    
            <form action="" method="">
              <div class="row">
                  <div class="col-sm-12">
                    <div ><label for="name">Candidate ID</label> </div>
                    <div ><input type="text" id="name" required /> </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                   <div> <label for="pass">Password</label>   </div>
                   <div> <input type="password" id="pass" required /></div>
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <center> <input type="submit" value="Sign In" /> </center>
                </div>
            </div>
          </div>
    
        </div>
    
    </div>

    <br><br><br>

    <div class="container">
    <div class="bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div>
            <h4>NEED ANY HELP?</h4>
          </div>  
        </div>
    
         <div class="col-sm-4">
           <h4>VISIT US</h4>
        </div>
    
         <div class="col-sm-4">
          <h4>EMAIL</h4>
        </div>
    
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div>
            <h6>CONTACT</h6>
          </div>  
        </div>
    
         <div class="col-sm-4">
           <h6>LOCATION</h6>
        </div>
    
         <div class="col-sm-4">
          <h6>MAIL US:  </h6>
        </div>
    
      </div>
    </div>
    
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div>
            <h6>CONTACT</h6>
          </div>  
        </div>
    
         <div class="col-sm-4">
           <h6>LOCATION</h6>
        </div>
    
         <div class="col-sm-4">
          <h6>MAIL US:  </h6>
        </div>
    
      </div>
    </div>
    </div>
    </div> 
</body>
</html>